<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
            <div class="collapse navbar-collapse" id="navbarHome">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('problem1') }}">Find CDETS <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('problem2') }}">Find Commits <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('problem3') }}">Find Branches with CDETS <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('problem4') }}">Find Branches Without CDETS <span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>

    </div>
</nav>